Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-alpha.*,
  -clang-analyzer-osx.*,
  -clang-analyzer-core.uninitialized.Assign

WarningsAsErrors: >
  clang-analyzer-*,
  -clang-analyzer-core.uninitialized.Assign

HeaderFilterRegex: '^(?!.*(/|\\)subprojects(/|\\)).*(^|/)(src|include)/'
SystemHeaders: false
FormatStyle: none
