# IDE configs
.vscode
.idea
.venv

# Build dirs
build*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Meson subproject directories
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles

# Meson Directories
meson-logs
meson-private

# Meson Files
meson_benchmark_setup.dat
meson_test_setup.dat
meson_native*.ini

# C++ specific
sanitycheckcpp.cc
sanitycheckcpp.exe

# Ninja
build.ninja
.ninja_deps
.ninja_logs

# Python
__pycache__/

# Misc
compile_commands.json

# Image artefacts
*.png
*.jpg
*.jpeg
!docs/**/*
!assets/**/*

# MacOS Finder metadata 
**/.DS_Store

# Temp files / logs
reports
profiling
docs/api
docs/site

# Local env
toolchain/env/local.env
